body {
    background-color: #888888;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
}

p {
    color: blue;
}
