h1, h2 {
    text-shadow: 0 0 5px #56458c;
}

body {
    background-color: #888888;
    font-family: Arial, sans-serif;
}

p {
    color: rgb(10, 10, 239);
    text-align: center;
    
}

img {
    padding-bottom: 20px;
    
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

nav {
    background-color: #333333;
    color: white;
    padding: 10px;
    
}
 a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
 }

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
}
footer p {
    color: white;
    text-shadow: 0 0 5px #ebe9ef;
}


 